<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gojo - Commands</title>
    <link rel="stylesheet" href="css/commands/main.css">
    <%- include('components/web/url.ejs') %>
</head>
<body>
    <%- include('include/header.ejs') %>
    <center>
        <%- include('components/commands/main.ejs') %>
        <%- include('include/footer.ejs') %>
    </center>
    <script src="js/commands.js"></script>
</body>
</html>
