.footer {
    background-color: transparent;
    color: white;
    margin-top: 150px;
    max-width: 1150px;
    padding: 40px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -20px;
    max-width: 1200px;
}

.footer-section {
    width: 100%;
    margin-bottom: 20px;
}

.footer-section h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #cbd5e0;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #a0aec0;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
}

.footer-section .social-icons a {
    color: #cbd5e0;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-section .social-icons a:hover {
    color: #a0aec0;
}

.footer-section .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section .subscribe-form input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #4a5568;
    color: white;
}

.footer-section .subscribe-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4299e1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section .subscribe-form button:hover {
    background-color: #3182ce;
}

.footer-bottom {
    border-top: 1px solid #374151;
    padding-top: 20px;
    color: #6B7280;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.footer-bottom .footer-links {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.footer-bottom .footer-links a {
    color: #6B7280;
    margin-top: -20px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-bottom .footer-links a:hover {
    color: #a0aec0;
}

.footer-section links ul {
    display: flex;
}

.btn-a-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
}

@media (min-width: 768px) {
    .footer-section {
        width: 45%;
        margin-bottom: 0;
    }

    .footer-section.contact {
        width: 100%;
        text-align: right;
    }

    .footer-section.follow {
        text-align: center;
    }

    .footer-section.about,
    .footer-section.links {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .footer-section {
        width: 22%;
    }
}