<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />

<nav>
  <div class="logo">Gojo</div>
  <div class="buttons">
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/commands'">Commands</button>
    <button onclick="location.href='https://discord.gg/squMTuffqS'">Support</button>
    <button onclick="location.href='/donate'">Donate</button>
    <button onclick="location.href='/team'">Team</button>
  </div>
  <div class="info">
    <a href="/vote">Vote</a>
    <a href="/invite">Invite</a>
  </div>
  <div class="hamburger" id="hamburger">&#9776;</div>
</nav>
<div class="overlay" id="overlay">
  <div class="sidebar" id="sidebar">
    <div class="side-header">
      <h1>Gojo</h1>
      <button id="close-button"><i class="fa-sharp fa-light fa-xmark"></i></button>
    </div>
    <a href="/"><i class="fa-solid fa-house"></i> Home</a>
    <a href="/commands"><i class="fa-solid fa-rectangle-list"></i> Commands</a>
    <a href="https://discord.gg/squMTuffqS"><i class="fa-brands fa-discord"></i> Support</a>
    <a href="/donate"><i class="fa-solid fa-circle-dollar-to-slot"></i> Donate</a>
    <a href="/team"><i class="fa-solid fa-stars"></i> Team</a>
  </div>
</div>

<script src="js/header.js"></script>