body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, rgba(21, 36, 70, 1) 0%, rgba(15, 15, 15, 1) 48%, rgba(15, 15, 15, 1) 52%, rgba(15, 15, 15, 1) 100%);
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.cont img {
    height: 325px;
    border-radius: 12px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.315);
    width: 325px;
    max-width: 100%;
}

.cont h1 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    color: white;
}

.cont p {
    color: #83817D;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: -6px;
}

.cont a {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #60A5FA;
    box-shadow: 0px 4px 20px #60a5fa83;
}

.cont a:hover {
    background-color: #60fa74;
    box-shadow: 0px 4px 20px #60fa7471;
}

@media (max-width: 768px) {
    .cont {
        margin-top: 105px;
    }

    .cont h1 {
        font-size: 24px;
    }

    .cont p {
        font-size: 14px;
    }

    .cont a {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .cont {
        margin-top: 105px;
    }

    .cont img {
        height: 200px;
        width: 200px;
    }

    .cont h1 {
        font-size: 20px;
    }

    .cont p {
        font-size: 12px;
    }

    .cont a {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
    }
}