<link rel="stylesheet" href="css/home/bilgi.css">
<div class="bilgi">
  <div class="bilgi-info">
    <img src="https://i.imgur.com/GoBt5LB.png" class="bilgi-img" alt="Bilgi İmage">
    <div class="bilgi-text">
      <h2><i class="fa-solid fa-vr-cardboard"></i> Control Board</h2>
      <p>Experience effortless control with Gojo's intuitive playback buttons. Skip, pause, adjust volume, and more, all at your fingertips.</p>
    </div>
  </div>
  <div class="bilgi-info">
    <div class="bilgi-text">
      <h2><i class="fa-solid fa-music"></i> Music Profile</h2>
      <p>Customizable music profiles showcasing your favourite song, songs played, time listened and achievement badges</p>
    </div>
    <img src="https://i.imgur.com/IQTYv2S.png" class="bilgi-img" alt="Bilgi İmage">
  </div>
  <div class="bilgi-info">
    <img src="https://gojobot.xyz/img/panel.gif" class="bilgi-img" alt="Bilgi İmage">
    <div class="bilgi-text" style="margin-right: auto; margin-left: auto;">
      <h2><i class="fa-solid fa-hashtag"></i> Music Panel</h2>
      <p style="width: 100%;">Create music panel and play limitlessly!</p>
    </div>
  </div>
  <div class="bilgi-info">
    <div class="bilgi-text" style="margin-right: auto; margin-left: auto;">
      <h2 style="display: flex; gap: 7px;"><i class="fa-solid fa-rectangle-list"></i>Charts</h2>
      <p style="width: 100%;">Get access to global/regional weekly,daily & viral top charts.</p>
    </div>
    <img src="https://i.imgur.com/SgrWQ3e.png" class="bilgi-img" alt="Bilgi İmage">
  </div>
</div>