<link rel="stylesheet" href="css/home/main.css">
<main>
  <img class="main-logo" src="https://i.imgur.com/kIRDecZ.png" />
  <h1>The best music app for Discord</h1>
  <p>✨Gojo is your ultimate companion for bringing music to life within your Discord server. Totally FREE with High Quality.</p>
  <div class="main-buttons">
    <button><i class="fa-solid fa-user-plus"></i> Invite</button>
    <button id="vote"><i class="fa-solid fa-check-to-slot"></i> Vote</button>
  </div>
</main>